/* -------------------------------------------------------------------------------헤더-------------------- */
header {width:100%; position:relative; padding-bottom:15px;}
header .long_banner {width:100%; background:#000; text-align:center; position:relative; align-items:center;}
header .long_banner p {font-size:0.75rem; width:100%; line-height:25px; color:#fff;}
header .long_banner button {position:absolute; top:0; right:0; width:25px; height:25px; color:#fff;}
header .header_container {width:100%; max-width:1520px; background:#fff; margin:0 auto;}
header .header_container .header_top {display:flex; justify-content:space-between; align-items:center;}
header .header_container .header_top h1 {}
header .header_container .header_top h1 a {}
/* PC화면에서는 없어지는 메뉴 --s */
header .header_container .header_top .search {display:none;}
header .header_container .header_top .cart {}
header .header_container .header_top .wishlist {}
header .header_container .header_top .login {}
header .header_container .header_top .more_menu {display:none;}
/* PC화면에서는 없어지는 메뉴 --e */
header .header_container .header_top h1 a img {width:100%;}
header .header_container .header_top .menu_wrap {display:flex; gap:15px;}
header .header_container .header_top .menu_wrap a {}
header .header_container .header_top .menu_wrap a img {}
/* 숨어있는 메뉴(모바일 모습 시 등장) */
header .header_container .header_top .menu_wrap .hidden_menu {
    background:#fff; position:absolute;
    top:50px; left:50%;
    transform:translateX(-50%);
    width:100%; max-width:200px;
    padding:10px;
    border-radius:10px;
    display:none;
}
header .header_container .header_top .menu_wrap .hidden_menu .hidden_list {
    display:flex; flex-flow:column nowrap; gap:20px;
    width:100%;
}
header .header_container .header_top .menu_wrap .hidden_menu .hidden_list li {
    background:#fff; padding:10px; width:100%;
    border:0.5px solid #000;
    border-radius:10px;
}
header .header_container .header_top .menu_wrap .hidden_menu .hidden_list li:first-child {padding:0; width:max-content;}
header .header_container .header_top .menu_wrap .hidden_menu .hidden_list li:first-child button {
    display:block; position:absolute; right:10px; top:10px;
    font-size:0.75rem;
}
header .header_container .header_top .menu_wrap .hidden_menu .hidden_list li a {
    width:100%;
    display:block;
    font-size:0.875rem;
}
/* gnb메뉴 그룹 */
header .header_container .header_bottom {
    display:flex; justify-content:space-between; align-items:center;
}
header .header_container .header_bottom .gnb_menu_wrap {
    display:flex; gap:30px; position:relative;
}
header .header_container .header_bottom .gnb_menu_wrap > li {}
header .header_container .header_bottom .gnb_menu_wrap > li > a {font-weight:500;}
header .header_container .header_bottom .gnb_menu_wrap > li .depth2 {
    background:coral;
    margin-top:30px; display:flex;
    display:none;
}
header .header_container .header_bottom .gnb_menu_wrap > li .depth2 > li {}
header .header_container .header_bottom .gnb_menu_wrap > li .depth2 > li > a {}
header .header_container .header_bottom .gnb_menu_wrap > li .depth2 > li .depth_list {}
header .header_container .header_bottom .gnb_menu_wrap > li .depth2 > li .depth3 {}
header .header_container .header_bottom .gnb_menu_wrap > li .depth2 > li .depth3 > li {}
header .header_container .header_bottom .gnb_menu_wrap > li .depth2 > li .depth3 > li > a {}
header .header_container .header_bottom .search_wrap {display:flex; align-items:center; position:relative;}
header .header_container .header_bottom .search_wrap input {
    width:270px; height:30px;
    padding:0 20px; font-size:0.75rem;
    border:1px solid #aaa; border-radius:15px;
}
header .header_container .header_bottom .search_wrap input::placeholder {color:#aaa;}
header .header_container .header_bottom .search_wrap img {
    position:absolute; 
    top:5; right:20px;
}
/* -------------------------------------------------------------------------------메인-------------------- */
main {width:100%;}
/* -----------------------------------1행-------------------------------- */
main .main_banner_container {position:relative;}
main .main_banner_container .banner_bg {width:100%;}
main .main_banner_container .banner_bg img {width:100%; display:block;}
main .main_banner_container .banner_text {
    position:absolute;
    left:100px; bottom:120px;
}
main .main_banner_container .banner_text p {
    font-size:1.563rem; font-weight:700;
    line-height:150%;
    color:#fff;
}
main .main_banner_container .banner_text h1 {
    font-size:6.25rem; font-weight:700;
    color:#fff;
}
/* -----------------------------------2행-------------------------------- */
main .new_container {
    max-width:1370px; margin:100px auto;
    height:378px;
    position:relative;
}
main .new_container .title_wrap {
    display:flex; justify-content:space-between; align-items:end;
}
main .new_container .title_wrap h2 {
    font-size:1.563rem; font-weight:500; 
}
main .new_container .title_wrap a {}
main .new_container .new_wrap {
    display:flex; align-items:center; gap:83px;
    margin-top:15px;
}
main .new_container .new_wrap .category {
    display:flex; flex-flow:column nowrap; gap:30px;
    align-items:start;
}
main .new_container .new_wrap .category button {
    font-size:0.875rem; font-weight:500; color:#aaa;
}
main .new_container .new_wrap .swiper {}
/* 스와이버 버튼 */
main .new_container .new_wrap .swiper-scrollbar {
    bottom:0; width:1120px;
    left:205px;
}
/* 신제품 크록스 */
main .new_container .new_wrap .swiper-button-prev {left:160px;}
main .new_container .new_wrap .swiper-button-prev::after {display:none;}
main .new_container .new_wrap .swiper-button-prev img {display:block;}
main .new_container .new_wrap .swiper-button-next {right:0;}
main .new_container .new_wrap .swiper-button-next::after {display:none;}
main .new_container .new_wrap .swiper-button-next img {}
/* 신제품 지비츠 */
/* 신제품 악세 */
/* 스와이버 */
main .new_container .new_wrap .swiper .swiper-wrapper {
    width:1120px;
}
main .new_container .new_wrap .swiper .swiper-wrapper .swiper-slide {width:200px;}
main .new_container .new_wrap .swiper .swiper-wrapper .swiper-slide .new_photo {width:100%;}
main .new_container .new_wrap .swiper .swiper-wrapper .swiper-slide .new_photo > a {width:100%; display:block;}
main .new_container .new_wrap .swiper .swiper-wrapper .swiper-slide .new_photo > a img {display:block; width:100%;}
main .new_container .new_wrap .swiper .swiper-wrapper .swiper-slide .new_photo .new_content {
    height:120px;
    padding:10px; margin-top:20px;
}
main .new_container .new_wrap .swiper .swiper-wrapper .swiper-slide .new_photo .new_content .color_chip_wrap {
    display:flex; flex-flow:row nowrap; gap:5px;
}
main .new_container .new_wrap .swiper .swiper-wrapper .swiper-slide .new_photo .new_content .color_chip {margin-bottom:10px; }
main .new_container .new_wrap .swiper .swiper-wrapper .swiper-slide .new_photo .new_content .color_chip span {
    width:14px; height:14px; border-radius:50px; display:block;
}
main .new_container .new_wrap .swiper .swiper-wrapper .swiper-slide .new_photo .new_content .product_name {
    font-size:0.938rem; font-weight:500; margin-bottom:10px;
    display:block;
}
main .new_container .new_wrap .swiper .swiper-wrapper .swiper-slide .new_photo .new_content .bofore_price {}
main .new_container .new_wrap .swiper .swiper-wrapper .swiper-slide .new_photo .new_content .bofore_price del {font-size:0.75rem; color:#aaa;}
main .new_container .new_wrap .swiper .swiper-wrapper .swiper-slide .new_photo .new_content .price_wrap {display:flex; gap:10px; margin-top:7px;}
main .new_container .new_wrap .swiper .swiper-wrapper .swiper-slide .new_photo .new_content .sale {}
main .new_container .new_wrap .swiper .swiper-wrapper .swiper-slide .new_photo .new_content .sale span {font-size:0.875rem; font-weight:700; color:#D70000;}
main .new_container .new_wrap .swiper .swiper-wrapper .swiper-slide .new_photo .new_content .price {font-size:0.875rem; font-weight:500;}
/* 개별 스와이퍼 */
main .new_container .new_wrap .new_product_crocs {}
main .new_container .new_wrap .new_product_jibbitz {display:none;}
main .new_container .new_wrap .new_product_acc {display:none;}
/* -----------------------------------3행-------------------------------- */
main .mobile_ad {position:relative;}
main .mobile_ad .mobile_ad_bg {
    background:url(../images/crocs_app.jpg);
    width:100%; height:550px;
}
main .mobile_ad .mobile_ad_bg img {width:100%;}
main .mobile_ad p {
    font-size:1.125rem;
    position:absolute; left:640px; bottom:44px;
}
main .mobile_ad p span{font-size:1.688rem; font-weight:700; line-height:250%;}

/* -------------------------------------------------------------------------------풋터-------------------- */