/* -------------------------------------------------------------------------------메인-------------------- */
main {width:100%; padding-bottom:150px;}
/* -----------------------------------1행 배너-------------------------------- */
main .main_banner_container {position:relative;}
main .main_banner_container .banner_bg {width:100%;}
main .main_banner_container .banner_bg img {width:100%; display:block;}
main .main_banner_container .banner_text {
    position:absolute;
    left:100px; bottom:120px;
}
main .main_banner_container .banner_text p {
    font-size:1.563rem; font-weight:700;
    line-height:150%;
    color:#fff;
}
main .main_banner_container .banner_text h1 {
    font-size:6.25rem; font-weight:700;
    color:#fff;
}
/* 모바일일때 등장하는 2행 */
main .mobile_crocs_ad_container {
    max-width:749px; margin:50px auto 0;
    display:flex; flex-flow:row nowrap;
    gap:30px;
    text-align:center;
    display:none;
}
main .mobile_crocs_ad_container .crocs_ad {}
main .mobile_crocs_ad_container .crocs_ad a {display:block;}
main .mobile_crocs_ad_container .crocs_ad a img {width:100%; display:block;}
main .mobile_crocs_ad_container .crocs_ad span {font-weight:500; margin-top:20px; display:block;}
/* -----------------------------------2행 신제품-------------------------------- */
main .new_container {
    max-width:1370px; margin:100px auto;
    height:378px;
}
main .new_container .title_wrap {
    display:flex; justify-content:space-between; align-items:end;
}
main .new_container .title_wrap h2 {
    font-size:1.563rem; font-weight:500; 
}
main .new_container .title_wrap a {}
main .new_container .new_wrap {
    display:flex; align-items:center; justify-content:space-between;
    margin-top:15px;
}
main .new_container .new_wrap .category {
    display:flex; flex-flow:column nowrap; gap:30px;
    align-items:start;
    width:100px;
}
main .new_container .new_wrap .category .effect {
    width:35px; height:12px;
    background:rgba(246,255,72,0.7);
}
main .new_container .new_wrap .category button {
    font-size:0.875rem; font-weight:500; color:#aaa;
    position:relative; display:block;
}
main .new_container .new_wrap .category button.active {
    font-size:1.125rem;
    font-weight:600;
    color:#000;
}
main .new_container .new_wrap .category button.active::after {
    content: '';
    display: block;
    background: url(../images/active.png) no-repeat ;
    background-size: 100% 100%;
    left: 0; right: 0;
    height: 12px;
    position:absolute;
    top:13px;
    z-index:0;
}
main .new_container .new_wrap .new_all_wrap {position:relative; width:100%; max-width:1210px;}
main .new_container .new_wrap .new_all_wrap .swiper {max-width:1120px; min-width:320px;}
/* 스와이버 버튼 */
main .new_container .new_wrap .new_all_wrap .swiper-scrollbar {
    bottom:0; max-width:1120px;
    left:50%; transform:translateX(-50%);
}
/* 신제품 크록스 */
main .new_container .new_wrap .new_all_wrap .swiper-button-prev {left:0;}
main .new_container .new_wrap .new_all_wrap .swiper-button-prev::after {display:none;}
main .new_container .new_wrap .new_all_wrap .swiper-button-prev img {display:block;}
main .new_container .new_wrap .new_all_wrap .swiper-button-next {right:0;}
main .new_container .new_wrap .new_all_wrap .swiper-button-next::after {display:none;}
main .new_container .new_wrap .new_all_wrap .swiper-button-next img {}
/* 스와이퍼 */
main .new_container .new_wrap .new_all_wrap .swiper .swiper-wrapper {
    width:100%;
}
main .new_container .new_wrap .new_all_wrap .swiper .swiper-wrapper .swiper-slide {}
main .new_container .new_wrap .new_all_wrap .swiper .swiper-wrapper .swiper-slide .new_photo {max-width:200px;}
main .new_container .new_wrap .new_all_wrap .swiper .swiper-wrapper .swiper-slide .new_photo > a {width:100%; display:block;}
main .new_container .new_wrap .new_all_wrap .swiper .swiper-wrapper .swiper-slide .new_photo > a img {display:block; width:100%;}
main .new_container .new_wrap .new_all_wrap .swiper .swiper-wrapper .swiper-slide .new_photo .new_content {
    height:120px;
    padding:10px; margin-top:20px;
}
main .new_container .new_wrap .new_all_wrap .swiper .swiper-wrapper .swiper-slide .new_photo .new_content .color_chip {margin-bottom:10px; display:flex; gap:5px;}
main .new_container .new_wrap .new_all_wrap .swiper .swiper-wrapper .swiper-slide .new_photo .new_content .color_chip img {display:block;}
main .new_container .new_wrap .new_all_wrap .swiper .swiper-wrapper .swiper-slide .new_photo .new_content .product_name {
    font-size:0.938rem; font-weight:500; margin-bottom:10px;
    display:block;
}
main .new_container .new_wrap .new_all_wrap .swiper .swiper-wrapper .swiper-slide .new_photo .new_content .bofore_price {}
main .new_container .new_wrap .new_all_wrap .swiper .swiper-wrapper .swiper-slide .new_photo .new_content .bofore_price del {font-size:0.75rem; color:#aaa;}
main .new_container .new_wrap .new_all_wrap .swiper .swiper-wrapper .swiper-slide .new_photo .new_content .price_wrap {display:flex; gap:10px; margin-top:7px;}
main .new_container .new_wrap .new_all_wrap .swiper .swiper-wrapper .swiper-slide .new_photo .new_content .sale {}
main .new_container .new_wrap .new_all_wrap .swiper .swiper-wrapper .swxiper-slide .new_photo .new_content .sale span {font-size:0.875rem; font-weight:700; color:#D70000;}
main .new_container .new_wrap .new_all_wrap .swiper .swiper-wrapper .swiper-slide .new_photo .new_content .price {font-size:0.875rem; font-weight:500;}
/* 개별 스와이퍼 */ 
main .new_container .new_wrap .new_crocs_wrap {}
main .new_container .new_wrap .new_jibbitz_wrap {display:none;}
main .new_container .new_wrap .new_acc_wrap {display:none;}
main .new_container .new_wrap .new_jibbitz_wrap .new_photo > a img:hover {
    transform:scale(110%);
    transition:all 0.5s; 
}
/* -----------------------------------3행 모바일-------------------------------- */
main .mobile_ad {position:relative;}
main .mobile_ad .mobile_ad_bg {
    background:url(../images/crocs_app.jpg);
    width:100%; height:550px;
}
main .mobile_ad .mobile_ad_bg img {width:100%;}
main .mobile_ad p {
    font-size:1.125rem;
    position:absolute; left:640px; bottom:44px;
}
main .mobile_ad p span{font-size:1.688rem; font-weight:700; line-height:250%;}
/* -----------------------------------4행 특가세일-------------------------------- */
main .sale_container {
    max-width:1370px; height:594px; margin:100px auto;
    position:relative;
}
main .sale_container h2 {font-size:1.563rem; font-weight:500;}
main .sale_container .category_wrap {
    display:flex; justify-content:space-between; align-items:end;
    margin:30px 0 20px;
}
main .sale_container .category_wrap .category {display:flex; gap:15px;}
main .sale_container .category_wrap .category button {
    font-size:0.875rem; font-weight:500; color:#aaa;
    position:relative; display:block;
}
main .sale_container .category_wrap .category button.active {
    font-size:1.125rem;
    font-weight:600;
    color:#000;
}
main .sale_container .category_wrap .category button.active::after {
    content: '';
    display: block;
    background: url(../images/active.png) no-repeat ;
    background-size: 100% 100%;
    left: 0; right: 0;
    height: 12px;
    position:absolute;
    top:13px;
    z-index:0;
}
main .sale_container .category_wrap a {}
/* 스와이버 버튼 */
main .sale_container .swiper-button-prev {left:0;}
main .sale_container .swiper-button-prev::after {display:none;}
main .sale_container .swiper-button-prev img {}
main .sale_container .swiper-button-next {right:0;}
main .sale_container .swiper-button-next::after {display:none;}
main .sale_container .swiper-button-next img {}
main .sale_container .swiper-scrollbar {
    max-width:1290px;
    left:50%; transform:translateX(-50%);
}
main .sale_container .swiper {
    max-width:1290px; margin:0 auto; 
}
/* 스와이퍼 */
main .sale_container .swiper .swiper-wrapper {}
main .sale_container .swiper .swiper-wrapper .swiper-slide {display:flex; gap:30px;}
main .sale_container .swiper .swiper-wrapper .swiper-slide .sale_photo {width:300px;}
main .sale_container .swiper .swiper-wrapper .swiper-slide .sale_photo > a {display:block;}
main .sale_container .swiper .swiper-wrapper .swiper-slide .sale_photo > a img {width:100%; display:block;}
main .sale_container .swiper .swiper-wrapper .swiper-slide .sale_photo .sale_content {}
main .sale_container .swiper .swiper-wrapper .swiper-slide .sale_photo .sale_content .color_chip {margin-bottom:10px; display:flex; gap:5px;}
main .sale_container .swiper .swiper-wrapper .swiper-slide .sale_photo .sale_content .color_chip img {display:block;}
main .sale_container .swiper .swiper-wrapper .swiper-slide .sale_photo .sale_content .product_name {
    font-size:0.938rem; font-weight:500; margin-bottom:10px;
    display:block;
}
main .sale_container .swiper .swiper-wrapper .swiper-slide .sale_photo .sale_content .bofore_price {}
main .sale_container .swiper .swiper-wrapper .swiper-slide .sale_photo .sale_content .bofore_price del {font-size:0.75rem; color:#aaa;}
main .sale_container .swiper .swiper-wrapper .swiper-slide .sale_photo .sale_content .price_wrap {display:flex; gap:10px; margin-top:7px;}
main .sale_container .swiper .swiper-wrapper .swiper-slide .sale_photo .sale_content .price {font-size:0.875rem; font-weight:500;}
main .sale_container .swiper .swiper-wrapper .swiper-slide .sale_photo .sale_content .sale {}
main .sale_container .swiper .swiper-wrapper .swiper-slide .sale_photo .sale_content .sale span {font-size:0.875rem; font-weight:700; color:#D70000;}
/* -----------------------------------5행 작은 구매하기-------------------------------- */
/* 공통 */
main .small_ad_container {
    max-width:1370px; margin:0 auto;
    flex-flow:row nowrap;
    display:flex;
}
main .small_ad_container .small_ad {width:100%; position:relative;}
main .small_ad_container .small_ad .small_ad_bg {height:440px;}
main .small_ad_container .small_ad .small_ad_content {position:absolute; left:20px; bottom:20px;}
main .small_ad_container .small_ad .small_ad_content .small_ad_name {font-size:1.25rem; font-weight:700; color:#fff;}
main .small_ad_container .small_ad .small_ad_content .small_ad_description {color:#fff; margin:5px 0 20px;}
main .small_ad_container .small_ad .small_ad_content a {
    font-size:0.875rem; font-weight:500;
    padding:5px 20px; 
    background:#F2F0FF;
    border-radius:15px;
    display:inline-block;
}
main .small_ad_container .small_ad .small_ad_content a:hover {
    background:#000;
    color:#f2f0ff;
}
/* 개별 */
main .small_ad_container {}
main .small_ad_container .small_ad1 .small_ad_bg {background:url(../images/main_small_ad01.jpg);}
main .small_ad_container .small_ad2 .small_ad_bg {background:url(../images/main_small_ad02.jpg);}
main .small_ad_container .small_ad3 .small_ad_bg {background:url(../images/main_small_ad03.jpg);}
/* -------------------------------------------------------------------------------풋터-------------------- */
/* -----------------------------------6행 포켓몬-------------------------------- */
main .pokemon_container {
    width:100%; display:flex; align-items:end;
    margin:100px 0 60px;
}
main .pokemon_container .pokemon_left {width:950px; position:relative;}
main .pokemon_container .pokemon_left:hover .pokemon_bg {filter: brightness(90%); transition:all 1s;}
main .pokemon_container .pokemon_left .pokemon_bg {background:url(../images/poket.jpg) no-repeat; width:100%; height:650px;}
main .pokemon_container .pokemon_left .pokemon_content {position:absolute; left:50px; bottom:50px; }
main .pokemon_container .pokemon_left .pokemon_content .pokemon_name {font-size:2.5rem; font-weight:700; margin-bottom:10px; color:#fff; display:block;}
main .pokemon_container .pokemon_left .pokemon_content .pokemon_description {font-size:1.25rem; color:#fff; display:block;}
main .pokemon_container .pokemon_right {max-width:655px; margin-left:40px;}
main .pokemon_container .pokemon_right .pokemon_title {
    display:flex; justify-content:space-between; align-items:end;
    margin-bottom:50px;
}
main .pokemon_container .pokemon_right .pokemon_title h2 {font-size:1.563rem; font-weight:500;}
main .pokemon_container .pokemon_right .pokemon_title a {}
main .pokemon_container .pokemon_right .pokemon_title a img {}
main .pokemon_container .pokemon_right .pokemon_list {display:flex; flex-flow:row wrap; width:100%; justify-content:space-between;}
main .pokemon_container .pokemon_right .pokemon_list .pokemon_product {width:200px;}
main .pokemon_container .pokemon_right .pokemon_list .pokemon_product:hover img {transform:scale(110%); transition:all 1s;}
main .pokemon_container .pokemon_right .pokemon_list .pokemon_product .pokemon_photo {}
main .pokemon_container .pokemon_right .pokemon_list .pokemon_product .pokemon_photo img {width:100%; height:140px; display:block;}
main .pokemon_container .pokemon_right .pokemon_list .pokemon_product .pokemon_product_content {width:100%; height:80px; padding:10px; margin-top:20px;}
main .pokemon_container .pokemon_right .pokemon_list .pokemon_product .pokemon_product_content .pokemon_product_name {
    margin-bottom:10px; font-size:0.938rem; font-weight:500;
    display:block;
    width:100%;
    line-height:120%;
}
main .pokemon_container .pokemon_right .pokemon_list .pokemon_product .pokemon_product_content .pokemon_product_price {
    font-size:0.875rem; font-weight:500;
}
/* -----------------------------------7행 트렌딩-------------------------------- */
main .trending_container {
    max-width:1370px; margin:0 auto 100px;
}
main .trending_container h2 {font-size:1.563rem; font-weight:500; margin-bottom:30px;}
main .trending_container .trending_wrap {position:relative;}
/* 스와이퍼 버튼 */
main .trending_container .trending_wrap .swiper-button-prev {left:0;}
main .trending_container .trending_wrap .swiper-button-prev::after {display:none;}
main .trending_container .trending_wrap .swiper-button-prev img {}
main .trending_container .trending_wrap .swiper-button-next {right:0;}
main .trending_container .trending_wrap .swiper-button-next::after {display:none;}
main .trending_container .trending_wrap .swiper-button-next img {}
/* 스와이퍼 */
main .trending_container .trending_wrap .trending_swiper {max-width:1295px;} 
main .trending_container .trending_wrap .trending_swiper .swiper-wrapper {}
main .trending_container .trending_wrap .trending_swiper .swiper-wrapper .swiper-slide {
    position:relative; width:200px; text-align:center;
}
main .trending_container .trending_wrap .trending_swiper .swiper-wrapper .swiper-slide:hover .trending_name {
    height:40px;
}
main .trending_container .trending_wrap .trending_swiper .swiper-wrapper .swiper-slide .trending_photo {max-width:200px; display:block;}
main .trending_container .trending_wrap .trending_swiper .swiper-wrapper .swiper-slide .trending_photo img {display:block; width:100%;}
main .trending_container .trending_wrap .trending_swiper .swiper-wrapper .swiper-slide .trending_name {
    position:absolute; bottom:0; left:0; 
    display:block; 
    width:100%; background:rgba(255,255,255,0.7);
    padding:5px 0; 
    font-size:0.875rem;
    height:25px;
    transition: height 0.3s ease;
}
/* -----------------------------------8행 큰 구매하기-------------------------------- */
main .big_ad_container {
    width:100%; 
    display:flex; gap:20px;
}
/* 공통 */
main .big_ad_container .big_ad {width:100%; position:relative;}
main .big_ad_container .big_ad .big_ad_bg {height:930px;}
main .big_ad_container .big_ad .big_ad_content {
    position:absolute; left:60px; bottom:60px;
}
main .big_ad_container .big_ad .big_ad_content .big_ad_name {font-size:2.125rem; font-weight:700; color:#fff;}
main .big_ad_container .big_ad .big_ad_content .big_ad_description {font-size:1.25rem; margin:7px 0 20px; color:#fff;}
main .big_ad_container .big_ad .big_ad_content a {
    font-weight:500;
    padding:5px 20px; background:#F2F0FF;
    border-radius:15px;
    display:inline-block;
}
main .big_ad_container .big_ad .big_ad_content a:hover {
    background:#000; color:#f2f0ff;
}
/* 개별 */
main .big_ad_container .big_ad1 .big_ad_bg {background:url(../images/main_big_ad01.jpg) no-repeat;}
main .big_ad_container .big_ad2 .big_ad_bg {background:url(../images/main_big_ad02.jpg) no-repeat;}
/* -----------------------------------9행 브랜드 파트너십-------------------------------- */
main .brand_container {margin:20px 0 100px; text-align:center;}
main .brand_container .brand_bg {}
main .brand_container .brand_bg img {display:block; width:100%;}
main .brand_container .brand_content {
    width:497px;
    margin:30px auto 0;
}
main .brand_container .brand_content .brand_title {font-size:2.5rem; font-weight:700;}
main .brand_container .brand_content .brand_description {margin:50px 0; line-height:1.5;}
main .brand_container .brand_content a {
    font-weight:500; 
    max-width:497px; line-height:50px;
    background:#000; color:#fff; display:block;
    border-radius:15px;
}
/* -----------------------------------10행 작은광고-------------------------------- */
main .crocs_ad_container {
    max-width:1370px; margin:0 auto;
    display:flex; flex-flow:row nowrap;
    gap:40px;
    text-align:center;
}
main .crocs_ad_container .crocs_ad {}
main .crocs_ad_container .crocs_ad a {max-width:430px;}
main .crocs_ad_container .crocs_ad a img {width:100%; transition:all 1s; display:block;}
main .crocs_ad_container .crocs_ad a img:hover {transform:scale(105%);}
main .crocs_ad_container .crocs_ad span {font-weight:500; margin-top:20px; display:block;}