/* responsive.css */
/* desktop 1250~1920 */
/* Tablet 1249~850 */
/* Mobile 849~320 */
@media screen and (max-width:1249px){
    /* -------------------헤더------------------------ */
    header .header_container .header_top .search {display:block;}
    header .header_container .header_top .more_menu {display:block;}
    header .header_container .header_bottom {display:none;}
    /* -------------------1행 배너------------------------ */
    main .main_banner_container .banner_text {bottom:100px;}
    main .main_banner_container .banner_text h1 {font-size:4.375rem; font-weight:700;}
    main .main_banner_container .banner_text p {font-size:1.25rem; font-weight:700;}
    /* -------------------2행 신제품------------------------ */
    main .new_container {
        max-width:949px;
    }
    main .new_container .new_wrap .new_all_wrap {
        max-width:763px;
    }
    main .new_container .new_wrap .new_all_wrap .swiper {
        max-width:673px;
    }
    /* -------------------4행 특가세일------------------------ */
    main .sale_container {
        max-width:949px;
    }
    main .sale_container .swiper {
        max-width:889px;
    }
    main .sale_container .swiper .swiper-wrapper .swiper-slide {justify-content:space-between;}
    main .sale_container .swiper .swiper-wrapper .swiper-slide .sale_photo {width:250px;}
    main .sale_container .swiper .swiper-wrapper .swiper-slide .sale_photo:last-of-type {display:none;}
    /* -------------------5행 작은 구매하기------------------------ */
    main .small_ad_container {max-width:949px;}
    main .small_ad_container .small_ad .small_ad_bg {height:300px; background-position:center; background-size:contain;}
    main .small_ad_container .small_ad .small_ad_content .small_ad_name {font-size:1.125rem;}
    main .small_ad_container .small_ad .small_ad_content .small_ad_description {font-size:0.875rem;}
    main .small_ad_container .small_ad .small_ad_content a {font-size:0.75rem;}
    /* -------------------6행 포켓몬------------------------ */
    main .pokemon_container .pokemon_left {width:100%;}
    main .pokemon_container .pokemon_left .pokemon_bg {background-size:cover;}
    main .pokemon_container .pokemon_right {display:none;}
    /* -------------------7행 트렌딩------------------------ */
    main .trending_container {max-width:949px;}
    main .trending_container .trending_wrap .trending_swiper {max-width:866px;} 
    /* -------------------8행 큰 구매하기------------------------ */
    main .big_ad_container .big_ad .big_ad_bg {height:700px;}
    main .big_ad_container .big_ad .big_ad_content .big_ad_name {font-size:2rem;}
    main .big_ad_container .big_ad .big_ad_content .big_ad_description {font-size:1.125rem;}
    main .big_ad_container .big_ad .big_ad_content a {font-size:0.875rem;}
    main .big_ad_container .big_ad .big_ad_bg {background-position:center;} 
    /* -------------------10행 작은광고------------------------ */
    main .crocs_ad_container {max-width:949px;}
    main .crocs_ad_container .crocs_ad a {}
    /* -------------------풋터------------------------ */
    footer .footer_container {max-width:949px;}
    footer .footer_container .footer_bottom .footer_bottom_right {display:none;} 
}

@media screen and (max-width:849px){
    /* -------------------헤더------------------------ */
    header .header_container .header_top .more_menu {display:none;}
    header .header_container .header_top .more_menu2 {display:flex;}
    /* -------------------1행 배너------------------------ */
    main .main_banner_container .banner_text {bottom:70px;}
    main .main_banner_container .banner_text h1 {font-size:3.125rem;}
    main .main_banner_container .banner_text p {font-size:1rem;}
    /* -------------------모바일일때 등장하는 2행------------------------ */
    main .mobile_crocs_ad_container {display:flex;}
    main .mobile_crocs_ad_container .crocs_ad a {width:230px;}
    /* -------------------2행 신제품------------------------ */
    main .new_container {
        max-width:749px;
    }
    main .new_container .title_wrap h2 {font-size:1.25rem;}
    main .new_container .new_wrap {flex-flow:column nowrap; align-items:start;}
    main .new_container .new_wrap .category {flex-direction:row; width:max-content; margin-bottom:20px;}
    main .new_container .new_wrap .category button {font-size:0.875rem;}
    main .new_container .new_wrap .category button.active {font-size:1rem;}
    /* -------------------3행 모바일앱------------------------ */
    main .mobile_ad {display:none;}
    /* -------------------4행 특가------------------------ */
    main .sale_container {max-width:749px;}
}