/* responsive.css */
/* desktop 1250~1920 */
/* Tablet 1249~850 */
/* Mobile 849~320 */
@media screen and (max-width:1249px){
    /* -------------------헤더------------------------ */
    
    header .header_container {max-width:1049px; margin:0 auto;}
    header .header_container .header_top .search {display:block;}
    header .header_container .header_top .more_menu {display:block;}
    header .header_container .header_bottom {display:none;}
    /* -------------------1행 배너------------------------ */
    main .main_banner_container .banner_text {bottom:100px;}
    main .main_banner_container .banner_text h1 {font-size:4.375rem; font-weight:700;}
    main .main_banner_container .banner_text p {font-size:1.25rem; font-weight:700;}
    /* -------------------2행 신제품------------------------ */
    main .new_container {
        max-width:949px; 
    }
    main .new_container .new_wrap .new_all_wrap {
        max-width:763px;
    }
    main .new_container .new_wrap .new_all_wrap .swiper {
        max-width:673px;
    }
    /* -------------------4행 특가세일------------------------ */
    main .sale_container {
        max-width:949px;
    }
    main .sale_container .swiper {
        max-width:889px;
    }
    main .sale_container .swiper .swiper-wrapper .swiper-slide {justify-content:space-between;}
    main .sale_container .swiper .swiper-wrapper .swiper-slide .sale_photo {width:250px;}
    main .sale_container .swiper .swiper-wrapper .swiper-slide .sale_photo:last-of-type {display:none;}
    /* -------------------5행 작은 구매하기------------------------ */
    main .small_ad_container {max-width:949px;}
    main .small_ad_container .small_ad .small_ad_bg {height:300px; background-position:center; background-size:contain;}
    main .small_ad_container .small_ad .small_ad_content .small_ad_name {font-size:1.125rem;}
    main .small_ad_container .small_ad .small_ad_content .small_ad_description {font-size:0.875rem;}
    main .small_ad_container .small_ad .small_ad_content a {font-size:0.75rem;}
    /* -------------------6행 포켓몬------------------------ */
    main .pokemon_container .pokemon_left {width:100%;}
    main .pokemon_container .pokemon_left .pokemon_bg {background-size:cover;}
    main .pokemon_container .pokemon_right {display:none;}
    /* -------------------7행 트렌딩------------------------ */
    main .trending_container {max-width:949px;}
    main .trending_container .trending_wrap .trending_swiper {max-width:866px;} 
    /* -------------------8행 큰 구매하기------------------------ */
    main .big_ad_container .big_ad .big_ad_bg {height:700px;}
    main .big_ad_container .big_ad .big_ad_content .big_ad_name {font-size:2rem;}
    main .big_ad_container .big_ad .big_ad_content .big_ad_description {font-size:1.125rem;}
    main .big_ad_container .big_ad .big_ad_content a {font-size:0.875rem;}
    main .big_ad_container .big_ad .big_ad_bg {background-position:center;} 
    /* -------------------10행 작은광고------------------------ */
    main .crocs_ad_container {max-width:949px;}
    main .crocs_ad_container .crocs_ad a {}
    /* -------------------풋터------------------------ */
    footer .footer_container {max-width:949px; padding:0 150px;}
    footer .footer_container .footer_bottom .footer_bottom_right {display:none;} 
    /* 서브페이지 로그인 */
    main .login_container {margin:80px auto;}
    /* 서브페이지 장바구니 */
    main .cart_container {max-width:949px; }
    main .cart_container .cart_all_container .cart_list_container { max-width:560px;}
}

@media screen and (max-width:849px){
    main {padding-bottom:100px;}
    .mobile_crocs_ad_container, .new_container, .sale_container, .small_ad_container, .trending_container {padding:0 20px;}
    /* -------------------헤더------------------------ */
    header .header_container {max-width:649px;}
    header .header_container .header_top .more_menu {display:none;}
    header .header_container .header_top .more_menu2 {display:block;}
    /* -------------------1행 배너------------------------ */
    main .main_banner_container .banner_text {bottom:70px;}
    main .main_banner_container .banner_text h1 {font-size:3.125rem;}
    main .main_banner_container .banner_text p {font-size:1rem;}
    /* -------------------모바일일때 등장하는 2행------------------------ */
    main .mobile_crocs_ad_container {display:flex;}
    main .mobile_crocs_ad_container .crocs_ad a {max-width:230px;}
    /* -------------------2행 신제품------------------------ */
    main .new_container {max-width:749px;}
    main .new_container .title_wrap h2 {font-size:1.25rem;}
    main .new_container .new_wrap {flex-flow:column nowrap; align-items:start; margin-top:30px;}
    main .new_container .new_wrap .category {flex-direction:row; width:max-content; margin-bottom:20px;}
    main .new_container .new_wrap .category button {font-size:0.875rem;}
    main .new_container .new_wrap .category button.active {font-size:1rem;}
    /* -------------------3행 모바일앱------------------------ */
    main .mobile_ad {display:none;}
    /* -------------------4행 특가------------------------ */
    main .sale_container {max-width:749px; height:430px;}
    main .sale_container h2 {font-size:1.25rem;}
    main .sale_container .category_wrap .category {flex-flow:row wrap;}
    main .sale_container .category_wrap .category button {font-size:0.875rem;}
    main .sale_container .category_wrap .category button.active {font-size:1rem;}
    /* -------------------5행 작은 구매하기------------------------ */
    main .small_ad_container {max-width:749px;}
    main .small_ad_container .small_ad .small_ad_bg {background-size:cover;}
    main .small_ad_container .small_ad .small_ad_content {left:10px; bottom:10px;}
    main .small_ad_container .small_ad .small_ad_content .small_ad_name {font-size:1rem;}
    main .small_ad_container .small_ad .small_ad_content .small_ad_description {font-size:0.75rem;}
    main .small_ad_container .small_ad .small_ad_content a {font-size:0.625rem;}
    /* -------------------6행 포켓몬------------------------ */
    main .pokemon_container {display:none;}
    /* -------------------7행 트렌딩------------------------ */
    main .trending_container {max-width:749px; margin:50px auto 0;}
    main .trending_container h2 {font-size:1.25rem;}
    main .trending_container .trending_wrap .trending_swiper {max-width:640px;} 
    /* -------------------8행 큰 구매하기------------------------ */
    main .big_ad_container {display:none;}
    /* -------------------9행 브랜드------------------------ */
    main .brand_container {display:none;}
    /* -------------------10행 작은광고------------------------ */
    main .crocs_ad_container {display:none;}
    /* -------------------풋터------------------------ */
    footer .footer_container {max-width:749px; padding:0 50px;}
    /* -------------------------------------서브페이지------------------------------------------------- */
    main .login_container {padding:0 20px;}
    main .login_container .login_wrap h2 {font-size:1.25rem;}
    main .login_container .login_wrap .join {font-size:0.875rem;}
    main .login_container .login_wrap .join a {font-size:1rem;}
    main .login_container .login_wrap .login_content .login_btn_wrap button {font-size:1rem;}
    main .login_container .login_wrap .login_content .id_pw_search a {font-size:0.875rem;}
    main .login_container .easy_login_wrap h2 {font-size:1.25rem;}
    /* 서브페이지 장바구니 */
    main .cart_container {max-width:749px; }
    main .cart_container .cart_all_container .cart_list_container .cart_list_wrap {
        flex-direction:column;
        height:max-content; padding:20px;
    }
    main .cart_container .cart_all_container .cart_list_container { max-width:340px;}
}
@media screen and (max-width:650px){
    main .cart_container {text-align:center; max-width:600px;}
    main .cart_container .cart_all_container {
        flex-direction: column; align-items:center; gap:20px;
    }
    main .cart_container .cart_all_container .cart_order_container {max-width:340px;}
}

@media screen and (max-width:500px){
    main .main_banner_container .banner_text {display:none;}
    footer .footer_container {padding:0 20px;}
    footer .footer_container .footer_top .sns_wrap {display:none;}
    footer .footer_container .footer_bottom .footer_bottom_left .fnb > li {font-size:0.875rem;}
    footer .footer_container .footer_bottom .footer_bottom_left .fnb > li .depth1 li {font-size:0.625rem;}
}